<div class="new-container">
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-12">

        <div class="card">
          <div class="card-body card-card">
            <div class="row">
              <div class="col-7">
                <h2>Servicio de: <strong><%= @service.user.email %></strong> </h2>
                <p>Dirección de recogida: <input class="form-control" type="text" value="<%= @service.pickup_address %>" aria-label="Disabled input example" disabled readonly></p>
                <p>Dirección de entrega: <input class="form-control" type="text" value="<%= @service.deliver_address %>" aria-label="Disabled input example" disabled readonly></p>
                <p>Método de pago: <input class="form-control" type="text" value="<%= @service.payment_method %>" aria-label="Disabled input example" disabled readonly></p>
                <p>Estado del servicio: <% if @service.status == 1 %>
                  <span class="badge rounded-pill bg-secondary"><%= @service.status %></span><em> Ningún conductor ha aceptado el servicio</em>
                  <% elsif @service.status >= 2 %>
                  <span class="badge rounded-pill bg-primary"><%= @service.status %></span>
                <% end %></p>
                <div class="d-flex justify-content-between">
                  <div class="left">
                    <% if @service.status == 1 %>
                      <%= simple_form_for @service do |f| %>
                        <%= f.hidden_field :status, value: 2 %>
                        <%= f.input :vehicle_id, label: 'Vehiculo a utilizar', collection: @vehicle.collect { |vehicle| [vehicle.model, vehicle.id] } %>
                        <%= f.submit 'Aceptar servicio', class: "btn btn-success" %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="right align-self-end">
                    <%= link_to root_path do %>
                        <button type="button" class="btn btn-secondary"><i class="fa-solid fa-circle-left"></i></button>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-5 service-detail-tab">
                <h2>Info. del conductor</h2>
                <% if @service.status == 2 %>
                  <p>Conductor a cargo: <input class="form-control" type="text" value="<%= @service.vehicle.user.email %>" aria-label="Disabled input example" disabled readonly></p>
                  <p>Vehiculo del conductor: <input class="form-control" type="text" value="<%= @service.vehicle.vehicle_branding %>" aria-label="Disabled input example" disabled readonly></p>
                  <p>Modelo del vehiculo <input class="form-control" type="text" value="<%= @service.vehicle.model%>" aria-label="Disabled input example" disabled readonly></p>
                  <%= simple_form_for @service do |f| %>
                    <%= f.hidden_field :status, value: 3 %>
                    <%= f.submit 'Marcar como entregado', class: "btn btn-primary" %>
                  <% end %>
                <% end %>
                <% if @service.status == 3 %>
                <p>Conductor a cargo: <input class="form-control" type="text" value="<%= @service.vehicle.user.email %>" aria-label="Disabled input example" disabled readonly></p>
                  <p>Vehiculo del conductor: <input class="form-control" type="text" value="<%= @service.vehicle.vehicle_branding %>" aria-label="Disabled input example" disabled readonly></p>
                  <p>Modelo del vehiculo <input class="form-control" type="text" value="<%= @service.vehicle.model%>" aria-label="Disabled input example" disabled readonly></p>
                  <button type="button" class="btn btn-primary" disabled>Marcar como entregado</button>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
