<% price = rand(5000..40000) %>

<div class="new-container">
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-12">

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8">

                <h1>Crea tu nuevo servicio!</h1>

                <%= simple_form_for @service do |f| %>
                  <%= f.input :pickup_address, placeholder: 'Coloca tu direcci칩n de recogida' %>
                  <%= f.input :deliver_address, placeholder: 'Coloca tu direcci칩n de entrega' %>
                  <%= f.input :payment_method, as: :radio_buttons, collection: [['Contra-entrega', 'Contra-entrega'], ['Mi Balance', 'Mi Balance']], label_method: :second, value_method: :first %>
                  <%= f.hidden_field :pricing, value: price %>
                  <%= f.submit 'Crear servicio', class: "btn btn-success" %>
                <% end %>
              </div>
              <div class="col-4 package-tab d-flex flex-column">
                <h5>A침ade paquetes a tu servicio!</h5>
                <div class="flex-grow-1">
                  <button type="button" class="btn btn-success"><strong>+</strong> A침adir paquete</button>
                </div>
                <div class="d-flex justify-content-center">
                  <p style="margin: 0 auto; padding: 0;"><strong>Precio del servicio: </strong></p>
                  <input class="form-control" type="text" value="<%= price %> COP" disabled readonly>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
