<div class="new-container">
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-12">
        <div class="card card-c">
          <div class="card-body card-card">
            <div class="row">
              <div class="col-7 div-1">
                <h1>Detalles de tu servicio: </h1>
                <p>Dirección de recogida: <input class="form-control" type="text" value="<%= @service.pickup_address %>" aria-label="Disabled input example" disabled readonly></p>
                <p>Dirección de entrega: <input class="form-control" type="text" value="<%= @service.deliver_address %>" aria-label="Disabled input example" disabled readonly></p>
                <p>Método de pago: <input class="form-control" type="text" value="<%= @service.payment_method %>" aria-label="Disabled input example" disabled readonly></p>
                <p>Estado del servicio: <% if @service.status == 1 %>
                  <span class="badge rounded-pill bg-warning"><%= @service.status %></span><p> </p>
                    <div class="modal fade" id="packageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Detalle del paquete</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <%= simple_form_for [@service, @package], url: service_packages_path(@service) do |f| %>
                              <%= f.input :name, label: "Nombre del paquete", placeholder: "Ej. Carta, Caja, etc..." %>
                              <%= f.input :weight, label: "Peso", placeholder: "10 Kg" %>
                              <%= f.input :width, label: "Ancho", placeholder: "10 cm, 20 cm, etc..." %>
                              <%= f.input :height, label: "Alto", placeholder: "10 cm, 20 cm, etc..." %>
                              <%= f.input :package_type, label: "Tipo de paquete", placeholder: "Sensible, rigido" %>
                              <%= f.submit 'Agregar paquete', class: "btn btn-success" %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>

                  <% elsif @service.status >= 2 %>
                  <span class="badge rounded-pill bg-primary"><%= @service.status %></span>
                <% end %></p>
                <div class="d-flex justify-content-between">
                  <div class="left">
                    <p><em>Ningún conductor ha aceptado tu servicio</em></p>
                  </div>
                  <div class="right">
                    <% if @service.status == 1 %>
                        <%= link_to @service, data: { turbo_method: :delete, turbo_confirm: "Estás seguro de borrar este servicio?" } do %>
                        <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                      <% end %>
                      <% elsif @service.status == 2 %>
                        <button type="button" class="btn btn-danger" disabled><i class="fa-solid fa-trash"></i></button>
                    <% end %>

                    <%= link_to root_path do %>
                        <button type="button" class="btn btn-secondary"><i class="fa-solid fa-circle-left"></i></button>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-5 service-detail-tab mt-6 icon-info">
                <i class="fa-solid fa-circle-info"></i>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
