
<% if !user_signed_in? %>
<div class="banner" style="background-image: linear-gradient(-45deg, rgba(0,0,0,0.9),rgba(0,0,0,0.7))">
  <div class="container container-landing-1">
    <h1>Tu lo pides, <strong>Nosotros lo llevamos!</strong></h1>
    <p>Creamos un sistema rápido de entrega, donde con unos solos clicks podras enviar tu producto de una forma sencilla.</p>
    <%= link_to "Empezar", new_user_session_path, class: "btn btn-warning" %>
  </div>
  <div class="container container-landing-1">
    <%= image_tag "delivery.png", class: "img-delivery" %>
  </div>
</div>
  <div id="inicio" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url(https://img.freepik.com/vector-gratis/fondo-verde-gradiente_23-2148370791.jpg);">
    <div class="container container-landing-2">
      <%= image_tag "pin.gif", class: "img-delivery" %>
    </div>
    <div class="container container-landing-2">
      <h1>Revisa donde va tu entrega</h1>
      <p>Puedes verificar en que punto se encuentra tu pedido, ya sea en ruta o entregado y cualquier novedad que se presente con este.</p>
      <%= link_to "Tracking", "#", class: "btn btn-warning" %>
    </div>
  </div>

  <div id="servicios" class="banner banner-info-1" >
    <div class="container container-first container-info-img">
      <%= image_tag "delivery-2.png", class: "img-delivery" %>
    </div>
    <div class="container container-first container-info">
      <h2>Entrega Fast</strong></h2>
      <p class="paragraph-info">Garantiza una entrega inmediata. Te conectamos con el piloto más cercano para llevar tus productos tan rápido como tus clientes lo necesitan.</p>
    </div>
  </div>

  <div class="banner banner-info-2" >
    <div class="container container-first container-info-2">
      <h2>Entrega Pesada</strong></h2>
      <p class="paragraph-info">Envia carga pesada de una forma rapida y sencilla, Te conectamos con conductores con carros o camionetas para llevar tus productos tan rápido como tus clientes lo necesitan.</p>
    </div>
    <div class="container container-first container-info-img-2">
      <%= image_tag "delivery-3.png", class: "img-delivery" %>
    </div>

  </div>

  <div id="caracteristicas" class="banner container-features">
    <div class="container features">
      <h2>Nuestras Caracteristicas</h2>
      <p class="paragraph-info">Somos los mejores para tus necesidades, siempre con las mejores tecnologias</p>
      <div class="cards w-75">
          <div class="card-category">
            <%= image_tag "feature-1.png", class: "img-delivery" %>
            <h2>Entregas inmediatas</h2>
          </div>

          <div class="card-category">
            <%= image_tag "feature-2.png", class: "img-delivery" %>
            <h2>Pagos contraentrega</h2>
          </div>

          <div class="card-category">
            <%= image_tag "feature-3.png", class: "img-delivery" %>
            <h2>Vehículos Unicos</h2>
          </div>
      </div>
    </div>
  </div>

  <div id="nosotros" class="banner banner-1" style="background-image: linear-gradient(-45deg, rgba(0,0,0,0.9),rgba(0,0,0,0.7))">
    <div class="container container-landing-3">
      <%= image_tag "logo.png", class: "img-about" %>
    </div>
    <div class="container container-landing-3">
      <p>Somos una empresa con valores y estamos dispuesto a poner la mejor tecnologia al servicio de los usuarios.</p>
      <%= link_to "Empezar", new_user_session_path, class: "btn btn-warning" %>
    </div>
  </div>

  <div class="footer">
    <div class="footer-copyright">
      Creado por Sebas Restrepo, Diego Marin, Juan Sebastian <i class="fas fa-heart"></i> en Le Wagon
    </div>
</div>

<% else %>
  <%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>

<% end %>
