<div class="sign-up-container">
  <div class="container sign-up-container-center">
    <div class="form-inputs container-form-2">
      <h2>Inicia Sesión</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions container container-button">
          <%= f.button :submit, "Iniciar sesión", class: "btn btn-success" %>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
