<div class="sign-up-container">
  <div class="container sign-up-container-center">
    <div class="form-inputs container-form-2">
      <h2>Inicia Sesi칩n</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
        <div class="form-inputs">
            <%= f.input :email, label: 'Correo electr칩nico',
                        required: false,
                        class: "input-group",
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <i class="fa-solid fa-envelope icon-position"></i>

          <%= f.input :password, label: "Contrase침a",
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
            <i class="fa-solid fa-lock icon-position"></i>
          <%# <%= f.input :remember_me, label: "Recuerdame", as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions container container-button">
          <%= f.button :submit, "Iniciar sesi칩n", class: "btn btn-warning" %>
        </div>
        <div class="form-actions container container-button">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
